@media screen and (min-width: 601px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .left-side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .right-side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .greeting {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .greeting:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: pink
  }

  .headerTitle {
    font-family: "Roboto Mono", monospace;
    margin: 30px;
    font-size: 50px;
    color: rgb(168, 167, 167);
    display: flex;
    flex-direction: row;
  }

  .blue {
    color: rgb(137, 215, 243)
  }

  .green {
    color: rgb(168, 233, 203)
  }

  .yellow {
    color: rgb(248, 233, 160)
  }

  .pink {
    color: rgb(248, 191, 222)
  }

  .logOut {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .logOut:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: pink;
    cursor: pointer;
  }

  .myQuizzes {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .myQuizzes:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: pink;
  }

  .createAQuiz {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .createAQuiz:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}


@media screen and (max-width: 601px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .left-side-navbar {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }

  .right-side-navbar {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .greeting {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: grey;
  }

  .headerTitle {
    font-family: "Roboto Mono", monospace;
    margin: 30px;
    font-size: 30px;
    color: rgb(168, 167, 167)
  }

  .blue {
    color: rgb(137, 215, 243)
  }

  .green {
    color: rgb(168, 233, 203)
  }

  .yellow {
    color: rgb(248, 233, 160)
  }
  
  .pink {
    color: rgb(248, 191, 222)
  }

  .greeting:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: pink;
    cursor: pointer;
  }

  .logOut {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .logOut:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: pink;
    cursor: pointer;
  }

  .myQuizzes {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .myQuizzes:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: pink;
  }

  .createAQuiz {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118)
  }

  .createAQuiz:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}

@media screen and (max-width: 601px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .login {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .login :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .signUp {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .signUp :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .link {
      text-decoration: none;
    }
  }
