  @media screen and (min-width: 601px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
    }
  
    .left-side-navbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 20px;
    } 

    .right-side-navbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 20px;
    } 

    .greeting {
      margin: 20px;
      font-family: Helvetica;
      color: grey;
    }
  
    .logOut {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .logOut:hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
      cursor: pointer;
    }

    .myQuizzes {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .myQuizzes:hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }

    .createAQuiz {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .createAQuiz:hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }

    .settings {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .settings:hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .link {
      text-decoration: none;
    }
  }
  
  
  
  /* /////// */


  @media screen and (max-width: 601px) {
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }

  .left-side-navbar { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px; 
  } 

  .right-side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  } 

  .greeting {
    margin: 10px;
    font-family: Helvetica;
    color: grey;
  }

  .greeting:hover {
    margin: 10px;
    font-family: Helvetica;
    color: pink;
    cursor: pointer;
  }

  .logOut {
    margin: 10px;
    font-family: Helvetica;
    color: white;
  }

  .logOut:hover{
    margin: 10px;
    font-family: Helvetica;
    color: pink;
    cursor: pointer;
  }

  .myQuizzes {
    margin: 10px;
    font-family: Helvetica;
    color: white;
  }

  .myQuizzes:hover{
    margin: 10px;
    font-family: Helvetica;
    color: pink;
  }

  .createAQuiz {
    margin: 10px;
    font-family: Helvetica;
    color: white;
  }

  .createAQuiz:hover{
    margin: 10px;
    font-family: Helvetica;
    color: pink;
  }

  .settings {
    margin: 10px;
    font-family: Helvetica;
    color: white;
  }

  .settings:hover{
    margin: 10px;
    font-family: Helvetica;
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}
  
  /* @media screen and (max-width: 601px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .login {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .login :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .signUp {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .signUp :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .link {
      text-decoration: none;
    }
  } */
  
