@media screen and (min-width: 601px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .left-side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .right-side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .greeting {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* color: grey; */
  }

  .greeting:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: pink
    /* color: grey; */
  }

  .headerTitle {
    font-family: "Roboto Mono", monospace;
    margin: 30px;
    font-size: 50px;
    /* color: purple; */
    color: rgb(168, 167, 167);
    /* color: rgb(107, 146, 140); */
    display: flex;
    flex-direction: row;

  }

  .blue {
    color: rgb(137, 215, 243)
  }
  .green {
    color: rgb(168, 233, 203)
  }
  .yellow {
    color: rgb(248, 233, 160)
  }
  /* .orange {
    color: rgb(250, 218, 195)
  } */
  .pink {
    color: rgb(248, 191, 222)
  }

  .logOut {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .logOut:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
    cursor: pointer;
  }

  .myQuizzes {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .myQuizzes:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
  }

  .createAQuiz {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .createAQuiz:hover {
    margin: 20px;
    /* font-family: Helvetica; */
    font-family: "Roboto Mono", monospace;

    color: pink;
  }

  .settings {
    margin: 20px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .settings:hover {
    margin: 20px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}

/* /////// */

@media screen and (max-width: 601px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .left-side-navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    margin-left: 20px;
  }

  .right-side-navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    margin-right: 20px;
  }

  .greeting {
    margin: 10px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: grey;
  }

  .headerTitle {
    font-family: "Roboto Mono", monospace;
    margin: 30px;
    font-size: 30px;
    /* color: purple; */
    color: rgb(168, 167, 167)
    
    /* color: rgb(107, 146, 140); */
  }

  .blue {
    color: rgb(137, 215, 243)
  }
  .green {
    color: rgb(168, 233, 203)
  }
  .yellow {
    color: rgb(248, 233, 160)
  }
  /* .orange {
    color: rgb(250, 218, 195)
  } */
  .pink {
    color: rgb(248, 191, 222)
  }

  .greeting:hover {
    margin: 10px;
    /* font-family: Helvetica; */
    font-family: "Roboto Mono", monospace;

    color: pink;
    cursor: pointer;
  }

  .logOut {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .logOut:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
    cursor: pointer;
  }

  .myQuizzes {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
        /* font-family: Helvetica; */
    /* color: white; */
  }

  .myQuizzes:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
  }

  .createAQuiz {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .createAQuiz:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
  }

  .settings {
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(168, 167, 167)
    /* font-family: Helvetica; */
    /* color: white; */
  }

  .settings:hover {
    margin: 10px;
    font-family: "Roboto Mono", monospace;

    /* font-family: Helvetica; */
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}

/* @media screen and (max-width: 601px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .login {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .login :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .signUp {
      margin: 20px;
      font-family: Helvetica;
      color: white;
    }
  
    .signUp :hover{
      margin: 20px;
      font-family: Helvetica;
      color: pink;
    }
  
    .link {
      text-decoration: none;
    }
  } */
