@media screen and (min-width: 601px) {
  .container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
   }

   .headerTitle {
    font-family: 'Roboto Mono', monospace;
    margin: 30px;
    font-size: 50px;
    color: rgb(168, 167, 167);
    display: flex;
    flex-direction: row;
   }

   .blue {
    color: rgb(137, 215, 243)
  }

  .green {
    color: rgb(168, 233, 203)
  }

  .yellow {
    color: rgb(248, 233, 160)
  }
  
  .pink {
    color: rgb(248, 191, 222)
  }

  .login {
    margin-left: 40px;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .login:hover{
    margin-left: 40px;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
    color: pink;
  }

  .signUp {
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .slash {
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .signUp:hover{
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}


@media screen and (max-width: 601px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .headerTitle {
    font-family: 'Roboto Mono', monospace;
    color: rgb(168, 167, 167);
    display: flex;
    flex-direction: row;
   }

   .blue {
    color: rgb(137, 215, 243)
  }

  .green {
    color: rgb(168, 233, 203)
  }

  .yellow {
    color: rgb(248, 233, 160)
  }
  
  .pink {
    color: rgb(248, 191, 222)
  }

  .login {
    margin: 15px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .login :hover{
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
    color: pink;
  }

  .slash {
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .signUp {
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(119, 118, 118)
  }

  .signUp :hover{
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
    color: pink;
  }

  .link {
    text-decoration: none;
  }
}