@media screen and (min-width: 601px) {
  .background-login {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .everything-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .backButton-login {
    margin: 10px;
  }

  .spacer-login {
    margin: 100px;
  }

  .formAndSignUpLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .title-login {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 30px;
  }

  .label-login {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 25px;
  }

  .label-display {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .blue-login {
    color: rgb(83, 165, 196);
  }

  .green-login {
    color: rgb(129, 231, 184);
  }

  .yellow-login {
    color: rgb(235, 214, 113);
  }

  .pink-login {
    color: rgb(207, 152, 183);
  }

  .userDoesNotExist {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
  }

  .userDoesNotExist {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(119, 118, 118);
  }

  .input-login {
    width: 350px;
    height: 40px;
    border: 0.5px solid rgb(119, 118, 118);
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
  }

  .signUpLink {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
  }

  .signUpLink:hover {
    font-family: "Roboto Mono", monospace;
    color: pink;
    font-size: 20px;
    text-decoration: none;
  }

  .login-button {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(179, 178, 178);
  }

  .login-button:hover {
    background: linear-gradient(
      144deg,
      rgba(137, 215, 243, 1) 0%,
      rgba(168, 233, 203, 1) 20%,
      rgba(248, 233, 160, 1) 40%,
      rgba(250, 221, 188, 1) 60%,
      rgba(248, 191, 222, 1) 100%
    );
    cursor: pointer;
  }

  .link {
    text-decoration: none;
  }
}

@media screen and (max-width: 601px) {
  .background-login {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .everything-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .backButton-login {
    margin: 10px;
  }

  .spacer-login {
    margin: 100px;
  }

  .formAndSignUpLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .title-login {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 35px;
  }

  .label-login {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 25px;
  }

  .label-display {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .blue-login {
    color: rgb(83, 165, 196);
  }

  .green-login {
    color: rgb(129, 231, 184);
  }

  .yellow-login {
    color: rgb(235, 214, 113);
  }

  .pink-login {
    color: rgb(207, 152, 183);
  }

  .userDoesNotExist {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
  }

  .userDoesNotExist {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(119, 118, 118);
  }

  .wrongPassword {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(119, 118, 118);
  }

  .input-login {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    padding: 10px;
  }

  .login-button {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(179, 178, 178);
  }

  .login-button:hover {
    background: linear-gradient(
      144deg,
      rgba(137, 215, 243, 1) 0%,
      rgba(168, 233, 203, 1) 35%,
      rgba(248, 233, 160, 1) 85%,
      rgba(250, 221, 188, 1) 97%,
      rgba(248, 191, 222, 1) 100%
    );
    cursor: pointer;
  }

  .signUpLink {
    align-items: center;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
  }

  .signUpLink:hover {
    font-family: "Roboto Mono", monospace;
    color: pink;
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
  }

  .link {
    text-decoration: none;
  }
}