@media screen and (min-width: 601px) {
  .quizListLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .myQuizzesCard {
    height: 125px;
    width: 350px;
    border: 1px solid rgb(119, 118, 118);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .myQuizzesText-title {
    margin: 5px;
    color: rgb(119, 118, 118);
  }

  .myQuizzesText-title:hover {
    color: pink;
  }

  .myQuizzesText {
    margin: 5px;
    color: rgb(119, 118, 118);
  }

  .areYouSureModal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(147, 133, 153, 0.4);
  }

  .myQuizzesPageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    margin-bottom: 50px;
    color: rgb(119, 118, 118);
  }

  #link-myQuizzes {
    text-decoration: none;
  }

  #button-myQuizzes {
    height: 40px;
    width: 200px;
    border: 0px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 20px;
    background: rgb(189, 133, 133);
  }

  #button-myQuizzes:hover {
    background: linear-gradient(
      144deg,
      rgb(230, 177, 116) 30%,
      rgb(241, 109, 116) 100%
    );
    cursor: pointer;
  }
}

@media screen and (max-width: 601px) {
  .quizListLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .myQuizzesCard {
    height: 160px;
    width: 250px;
    border: 1px solid rgb(119, 118, 118);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .myQuizzesText-title {
    margin: 5px;
    color: rgb(119, 118, 118);
  }

  .myQuizzesText-title:hover {
    color: pink;
  }

  .myQuizzesText {
    margin: 5px;
    color: rgb(119, 118, 118);
  }

  .areYouSureModal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
  }

  .myQuizzesPageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 50px;
    color: rgb(119, 118, 118);
  }

  #link-myQuizzes {
    text-decoration: none;
  }

  #button-myQuizzes {
    height: 40px;
    width: 200px;
    border: 0px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 20px;
    background: rgb(189, 133, 133);
  }

  #button-myQuizzes:hover {
    background: linear-gradient(
      144deg,
      rgb(230, 177, 116) 30%,
      rgb(241, 109, 116) 100%
    );
    cursor: pointer;
  }
}