@media screen and (min-width: 1170px) {
  .questionsFormText {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #label-question-form {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    font-size: 20px;
  }

  #label-question-letter {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  .textAreaQuestion {
    resize: none;
    margin: 15px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  .textAreaAnswer {
    resize: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  #non-disabled-button-next {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(119, 118, 118);
  }

  #non-disabled-button-next:hover {
    background: linear-gradient(
      144deg,
      rgba(137, 215, 243, 1) 0%,
      rgba(168, 233, 203, 1) 20%,
      rgba(248, 233, 160, 1) 40%,
      rgba(250, 221, 188, 1) 60%,
      rgba(248, 191, 222, 1) 100%
    );
    cursor: pointer;
  }

  #disabled-button-next {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(207, 206, 206);
  }

  #non-disabled-button-add-question {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(119, 118, 118);
  }

  #non-disabled-button-add-question:hover {
    background: rgb(192, 178, 105);
    cursor: pointer;
  }

  #disabled-button-add-question {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(207, 206, 206);
  }

  .questionsFormBox {
    border: 1px solid rgb(119, 118, 118);
    border-radius: 40px;
    width: 400px;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Roboto Mono", monospace;
    padding: 60px;
  }
}


@media screen and (max-width: 1169px) {
  .questionsFormText {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .labelQuestion {
    font-family: "Roboto Mono", monospace;
    margin-top: 30px;
    font-size: 20px;
  }

  #label-question-letter {
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  .textAreaQuestion {
    resize: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 250px;
    margin: 5px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  .textAreaAnswer {
    resize: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 250px;
    margin: 3px;
    font-family: "Roboto Mono", monospace;
    color: rgb(119, 118, 118);
  }

  #non-disabled-button-next {
    height: 40px;
    width: 190px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(119, 118, 118);
  }

  #non-disabled-button-next:hover {
    background: linear-gradient(
      144deg,
      rgba(137, 215, 243, 1) 0%,
      rgba(168, 233, 203, 1) 20%,
      rgba(248, 233, 160, 1) 40%,
      rgba(250, 221, 188, 1) 60%,
      rgba(248, 191, 222, 1) 100%
    );
    cursor: pointer;
  }

  #disabled-button-next {
    height: 40px;
    width: 190px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 40px;
    background: rgb(207, 206, 206);
  }

  #non-disabled-button-add-question {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 20px;
    background: rgb(119, 118, 118);
  }

  #non-disabled-button-add-question:hover {
    background: rgb(192, 178, 105);
    cursor: pointer;
  }

  #disabled-button-add-question {
    height: 50px;
    width: 200px;
    border: 0px solid rgb(119, 118, 118);
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    color: white;
    margin: 20px;
    background: rgb(207, 206, 206);
  }

  .questionsFormBox {
    border: 1px solid rgb(119, 118, 118);
    border-radius: 40px;
    width: 320px;
    height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Helvetica;
    padding: 10px;
  }
}