@media screen and (min-width: 601px) {
  .quizTakerLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
  }

  .quizQuestions-spacing {
    margin-left: 100px;
    margin-right: 100px;
  }

  .quizTitle {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(119, 118, 118);
  }

  .quizTakerAnswers {
    margin-bottom: 60px;
  }

  .seeMyResultsButton {
    background-color: white;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
    cursor: pointer;
  }

  .seeMyResultsButton:hover {
    background-color: rgb(105, 206, 159);
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
    cursor: pointer;
  }

  .seeMyResultsButtonDisabled {
    background-color: rgb(231, 228, 228);
    border: 1px solid rgb(172, 170, 170);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
  }

  .quizTakerQuestionAndRadioButtons {
    margin: 20;
    color: rgb(119, 119, 118);
    font-size: 22px;
  }

  .radioButtonCircle {
    height: 20px;
    width: 20px;
    color: rgb(119, 118, 118);
    margin-right: 20px;
  }

  .quizTakerQuestionSpacers {
    margin: 10
  }

  .theQuizQuestion {
    margin-bottom: 30px;
  }

  .radioButtonWithAnswer {
    display: flex; 
    flex-direction: row;
    color: rgb(119, 118, 118);
    margin: 10px
  }

  .radioButtonLabel {
    display: inline-block;
    color: rgb(119, 118, 118);
  } 
}

@media screen and (max-width: 601px) {
  .quizTakerLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    margin: 30px
  }

  .quizTitle {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
  }
  .theQuizQuestion {
    margin-bottom: 20px;
  }

  .quizTakerAnswers {
    margin-bottom: 60px;
  }

  .quizTakerQuestionAndRadioButtons {
    margin: 20
  }

  .quizTakerQuestionSpacers {
    margin: 10
  }

  .radioButtonWithAnswer {
    display: flex; 
    flex-direction: row;
  }

  .radioButtonCircle {
    color: rgb(119, 118, 118);
    margin-right: 10px;
  }

  .radioButtonLabel {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
  } 

  .seeMyResultsButton {
    background-color: white;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
    cursor: pointer;
  }

  .seeMyResultsButton:hover {
    background-color: rgb(105, 206, 159);
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
    cursor: pointer;
  }

  .seeMyResultsButtonDisabled {
    background-color: rgb(231, 228, 228);
    border: 1px solid rgb(172, 170, 170);
    border-radius: 10px;
    color: rgb(119, 118, 118);
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-bottom: 70px;
  }
}
